#iconoEditar {
  margin-top: -30px;
  margin-left: 80px;
  font-size: 30px;
  color: #E12424;
}

#perfil{
  margin-top: 8px;
}

#usuarioRegistrado{
    margin-top: 1vh;
}

#contenidoDatos{
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    padding: 10px;
}

#contenidoDatos i{
  margin-right: 10px;
  color: #E12424;
}

#datos{
    width: 70%; /* Ajusta el ancho según lo necesites */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px; /* Agregamos un poco de espacio interno */
}

#tituloDatos {
    margin-bottom: 10px;
  }

  #botones {
    text-align: right; /* Alinea los botones a la derecha */
    margin-top: 30px; /* Agrega espacio entre el contenido y los botones */
  }
  
  .btn-rojo {
    background-color: #E12424;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .btn-rojo-claro {
    background-color: #722F37;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .divActualizarContraseña {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.divActualizarContraseña h2 {
    margin-bottom: 0px;

}

.divActualizarContraseña form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}


.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cajaBotonesRegistro {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.cajaBotonesRegistro button {
    padding: 10px 30px; /* Ajusta el padding para hacer los botones más largos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%; /* Ajusta el ancho de los botones */
}



.cajaBotonesRecuperar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cajaBotonesRecuperar button {
  padding: 10px 30px; /* Ajusta el padding para hacer los botones más largos */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45%; /* Ajusta el ancho de los botones */
}


.rojo{
  background: #E12424;
  color: white;

}

.rojo:hover{
  background: #f33928;
}

.rojo:active{
  box-shadow: 1px 1px 1px 1px #f33928;
}

.vinotinto{
  background: #48110d;
  color: white;
}

.vinotinto:hover{
  background: #771d17;
  
}

.vinotinto:active{
  box-shadow: 1px 1px 1px 1px #771d17;
}

