.contenido {
    text-align: center;
}

.contForms {
    display: inline-block;
    /* Alinea los formularios horizontalmente */
    text-align: left;
    /* Alinea el contenido de los formularios a la izquierda */
    margin: 0 auto;
    /* Centra los formularios horizontalmente */
}


.iconosRojos {
    color: #E12424;
}

.iClienteFrecuente {
    color: #E12424;
    cursor: pointer;
}


.iconosMorados {
    color: #722F37;
}

input::placeholder {
    padding-left: 8px;
}

input {
    border-radius: 3px;
    border: 1px solid #6d6d6d;
}

.input1 input {
    width: 300px;
    height: 50px;
}


.input1 i {
    font-size: 20px;
}

.parrafoGris {
    color: gray;
}


.cajaBotones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.cajaBotones button {
    padding: 10px 40px;
    /* Ajusta el padding para hacer los botones más largos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    /* Ajusta el ancho de los botones */
}



.espacioEntreBotones {
    width: 40px;
    /* Ajusta el ancho del espacio según tus preferencias */
}

.gris {
    color: #6d6d6d;
}



.rojo{
    background: #E12424;
    color: white;

  }
  
  .rojo:hover{
    background: #f33928;
  }
  
  .rojo:active{
    box-shadow: 1px 1px 1px 1px #f33928;
  }

  .vinotinto{
    background: #48110d;
    color: white;
  }
  
  .vinotinto:hover{
    background: #771d17;
    
  }
  
  .vinotinto:active{
    box-shadow: 1px 1px 1px 1px #771d17;
  }


