
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#tablaInsumos tbody tr{
    text-align: center;
}

#tablaInsumos{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

#tablaInsumos th{
    background-color: #f2f2f2;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#tablaInsumos td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#tablaInsumos tr:nth-child(odd) td {
    background-color: #f2f2f2;
}

.contForms{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.iconosRojos{
    color: #E12424;
}

.iconosMorados{
    color:#8a0000}

input::placeholder {
    padding-left: 8px;
}

input{
    border-radius: 3px;
    border: 1px solid #6d6d6d;
}

.input1 input{
    width: 250px;
    height: 40px;
}

.input1 textarea{
    height: 40px;
    width: 250px;
}

.inputCantidad{
    margin-left: 24vh;
}

.inputCantidad input{
    width: 120vh;
    height: 50px;
}

.input1 i{
    font-size: 20px;
}

.parrafoGris{
    color: gray;
}

.añadirImagen{
    background-color: #6d6d6d;
    height: 120px;
    width: 200px;
    border-radius: 3px;
}

.añadirImagen #imgPerfil{
    text-align: center;
}



#iconoEditar{
    text-align: end;
    margin-bottom: -28px;
}

.btnSinFondo {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#imgPerfil{
    border-radius: 3px;
}


.TablaOrdenProduccion2{
    width: 350px;
}

.TablaOrdenProduccion2 #TStablaInsumos{
    text-align: center;
}
    
.TablaOrdenProduccion2 tbody #TSDatos{
text-align: center;
}
    
    
.TablaOrdenProduccion2 th, #TablaOrdenProduccion2 td {
padding: 5px;
border: 0px solid #ddd;
text-align: center;
}

.TablaOrdenProduccion2 thead .trclass{
    align-items: center;
    background-color: #E12424;
    color: white;
    text-align: center;
}





.TablaOrdenProduccion2 td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    
}

/* Estilo de las celdas de datos en las filas impares */
.TablaOrdenProduccion2 tr:nth-child(odd) td {
    background-color: #ffffff;

}

.TablaOrdenProduccion2{
    /* Altura máxima deseada para el tbody */
    display: block;
    /* Establece un contexto de bloque para el tbody */

    /* Habilita la barra de desplazamiento en el tbody */
    max-height: 200px;
    /* Altura máxima deseada para el tbody */
    display: block;
    /* Establece un contexto de bloque para el tbody */
    /* Habilita la barra de desplazamiento en el tbody */
    border: 1px solid #cecece;
    max-width: 100%;
    background-color: rgb(212, 212, 212);
}

#BtnAgregarIn{
    display: flex;
    justify-content: center;
    margin-right: 60px;
}

.botonmas{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    background: #48110d;
    padding: 15px 15px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 30px;
    margin: 5px 170px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btninsumos{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.btninsumos button{
    padding: 10px 40px;
    /* Ajusta el padding para hacer los botones más largos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    /* Ajusta el ancho de los botones */
}

.espacioEntreBotones {
    width: 40px;
    /* Ajusta el ancho del espacio según tus preferencias */
}


.cajaAbajoIzquierdo{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 3%;
    max-height: 200px;
    overflow: hidden;  
}

/*Estilos para la ventana emergente*/

.contVentana{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-left: 90px;
}



#dataTable{
    border: 1px solid black;
    width: 700px;
}

#dataTable tr th{
    text-align: center;
}

#dataTable th{
    width: 10%;
}

#dataTable td{
    border-top: 0.5px solid rgb(41, 41, 41);
}

#dataTable tr:nth-child(odd) td{
    background-color: #dfdada;
}

/*barra de busqueda venta emergente*/
#searchInput{
    border-radius: 20px;
    width: 80%;
}

#tablaInsumos thead th{
    text-align: center;
}
#tablaInsumos tbody tr{
    text-align: center;
}
/*Boton ventana emergente*/

#insertBtn {
    width: 32%;
    height: 35px;
    border-radius: 5px;
    font-family: Arial;
    
    border: none;
    margin-top: 10px;
}

#cancelBtn {
    width: 32%;
    height: 35px;
    border-radius: 5px;
    font-family: Arial;
    border: none;
    margin-top: 10px;
}

.vinotinto{
    background: #48110d;
    color: white;
}

.vinotinto:hover{
    background: #771d17;

}

.vinotinto:active{
    box-shadow: 1px 1px 1px 1px #771d17;
}

.rojo{
    background: #E12424;
    color: white;

}
  
.rojo:hover{
    background: #f33928;
}
  
.rojo:active{
    box-shadow: 1px 1px 1px 1px #f33928;
}

.contenido2{
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f8f8f8;
    height: auto;
}


.contDerecha .input2 {
margin-left: 25%;
margin-bottom: 0%;

}

.input2 input{
    height: 40px;
    width: 200px;
}

.contDerecha .input3{
    margin-top: -8.5%;
    margin-left: 60%;
}

.input3 input{
    height: 40px;
    width: 200px;
}


.contenedoremergentes{
    border: 2px solid rgb(170, 170, 170);
    border-radius: 30px;
    width: 70%;
}

.contenedoremergentes {
    display: flex;
    justify-content:space-around;
    margin-left: 100px;
    margin-right: 40px;
    margin-top: 50px;
    max-height: 235px;
}

#caja1 {
    border-radius: 10px; 
    border: 2px solid #a8a8a8;
    background-color: #ffffff;
    max-height: 100%;
}


.cajaAbajo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    max-height: 200px;
    max-width: 750px;
    overflow: hidden;
}

#titulo {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 20px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

