.contenedor_1 {
  display: flex;


}

.centrar {
  align-items: flex-end;
  margin-left: 10px;
  margin-top: 18px;
  justify-content: center;
}

#luchosoft {
  font-size: 20px;
  font-style: sans-serif
}

.imagen {
  margin-left: 30px;
  margin-top: 1.5vh;
}


.parrafo1 {
  margin-right: -100px;
}


.barraPrincipal {
  background-color: #E12424;
  color: rgb(255, 255, 255);
  border-right: 1;
  border: 1px solid #000000;
}

.contenedor {
  display: flex;
}

.barraLateral {
  flex: 2;
  /* Ocupa 4/5 del ancho disponible */
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-top: 10mm chocolate;
  border-right: 1px solid #6d6d6d;
  /* Agregar un borde derecho */
}

.contenido {
  flex: 12;
  /* Ocupa 1/5 del ancho disponible */
  background-color: #dbdbdb;
  padding: 20px;
  margin-right: -20px;
  color: rgb(0, 0, 0);
}

/*Menu------------------------------------------------------------------------------------------------------------------*/

.sidebar {
  width: 250px;
  color: white;
}

.module {
  padding: 10px;
}

.module-heading {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  /* Color de fondo para el encabezado del módulo */
  color: rgb(0, 0, 0);
  /* Color del texto del encabezado del módulo */
  border-radius: 5px;
  /* Bordes redondeados */
  border: 2px solid #6d6d6d;
  font-size: 15px;
  /* Cambia el tamaño de fuente a 18px */
}

.module-heading.selected {
  background-color: #ff000079;
}

.options {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  margin-left: 20px;
  display: none;
}

.options.active {
  display: block;
}

.options li {
  padding: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 2px solid #6d6d6d;
  margin-bottom: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options li:hover,
.options li.selected {
  background-color: rgba(255, 0, 0, 0.329);
}

.usuario {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.usuario-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.usuario-link img {
  height: 30px;
  margin-right: 10px;
}

.usuario-link span {
  font-size: 16px;
  font-weight: bold;
}

.module-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  transition: transform 0.3s;
}

.module-heading.selected .arrow-icon {
  transform: rotate(90deg);
}

.contenido {
  margin-top: 20px;
  background-color: white;
}

.yellow-underline {
  color: #FAC710;
  text-decoration: underline;
  cursor: pointer;
}