#tabla-contenedor {
    width: 300px;
    max-height: 200px;
    /* Altura máxima deseada */
    overflow: hidden;
    /* Oculta el desbordamiento */

    border-radius: 5px;
    margin: 20px auto;

}

#tablita {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Fijar el ancho de la tabla */
}

#tablita thead th {
    background-color: #E12424;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

#tablita tbody {
    max-height: 125px;
    /* Altura máxima deseada para el tbody */
    display: block;
    /* Establece un contexto de bloque para el tbody */
    overflow-y: scroll;
    /* Habilita la barra de desplazamiento en el tbody */
    background-color: rgb(255, 255, 255);
}

#tablita tbody td {
    width: 1%;
    padding: 10px;
    border-top: 1px solid #ddd;

}